/* LayoutDash.css */
.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .contentContainer {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }
  
  .dark {
    background-color: #121212;
    color: #ffffff;
  }
  