/* Remove underline from sidebar links */
.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none; 
  color: #f8f2f2;  /* Set text color */
  gap: 10px;
}



.sidebarItem .itemIcon {
  color: #f9f6f6; 
}

